* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #BC5148;
}
header .container {
  width: 90%;
}
header .container nav {
  padding: 0px;
}
header .container .icondiv {
  display: flex;
  gap: 20px;
}
header .container .btnDiv {
  display: flex;
  gap: 10px;
}
header .container .btnDiv button {
  width: 90px;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: #BC5148;
  border: none;
}
header .container .btnDiv .lgn {
  background-color: #F4B214;
  border: none;
}

.headerDiv {
  width: 90%;
  justify-content: center;
  align-items: center;
}
.headerDiv .adopted {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 25px;
  padding-left: 25px;
}
.headerDiv .collapseDiv {
  height: 40px;
  padding-top: 20px;
  justify-content: flex-end;
}

#children {
  background-image: url(/assets/img/slider-1.jpg);
  background-size: cover;
  max-width: 100%;
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#children .row {
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#children .row .textChild {
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#children .row .textChild h2 {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 25px;
  margin-bottom: 25px;
}
#children .row .textChild h1 {
  font-size: 40px;
  font-weight: 800;
  margin-top: 25px;
  margin-bottom: 25px;
}
#children .row .textChild button {
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px;
  background-color: #BC5148;
  border: none;
  border-radius: 5px;
  color: white;
}

#accordion {
  width: 100%;
}
#accordion .container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}
#accordion .container h1 {
  font-size: 30px;
  padding-bottom: 20px;
  font-weight: 450;
}
#accordion .container .row {
  padding: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
}
#accordion .container .accordionDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#accordion .container .accordionDiv span {
  color: grey;
}
#accordion .container .accordionDiv img {
  max-width: 100%;
}
#accordion .container .accordionDiv button {
  width: 35%;
  height: 45px;
  border: 2px solid #BC5148;
  border-radius: 5px;
  color: #BC5148;
}

#waiting {
  width: 100%;
  padding: 20px;
}
#waiting .container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#waiting .container .wtngchild {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
#waiting .container .wtngchild h1 {
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 20px;
}
#waiting .container .wtngchild span {
  color: grey;
}
#waiting .container .wtngchild button {
  width: 20%;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #BC5148;
  border: none;
  color: white;
}

#productsList {
  background-color: #F4B214;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  gap: 20px;
}

#features {
  width: 100%;
  padding: 30px;
}
#features .container {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#features .container .imagesDiv {
  display: flex;
  padding: 30px;
}
#features .container .imagesDiv img {
  max-width: 100%;
}